---
---

@import "{{ site.theme }}";

input { display: inline-block;}
input[type="datetime-local"] {
    width: 160px;
    color: #267CB9;
}

.button {
  border: none;
  color: white;
  background-color: #267CB9;
  border: 2px solid #267CB9;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
