---
---

@import "{{ site.theme }}";

input { display: inline-block;}
input[type="datetime-local"] {
    width: 160px;
    color: #267CB9;
}

button[type="button"] {
    border: none;
    color: white;
    background-color: #267CB9;
    border: 2px solid #267CB9;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 20px 0px;
    transition-duration: 0.4s;
    border-radius: 4px;
    cursor: pointer
}

#error-container {
    color: red;
    font-weight: bold;
}
